//html
<div class="main">
  <h3 class="title">Perkenalkan Progate ke Temanmu</h3>
  <div class="twitter button">
    <i class="fa fa-twitter"></i>
  </div>
  <div class="facebook button">
    <i class="fa fa-facebook"></i>
  </div>
</div>

//css
// Import file _variable.scss 
@import "variables";

.main {
  margin: 20px;
  text-align: center;
  
  .title {
    color: #455b6d;
    margin-bottom: 10px;
  }
  
  .button {
    display: inline-block;
    border-radius: 50%;
    margin: 10px;
    text-align: center;
    height: 64px;
    width: 64px;
    color: #ffffff;
    font-size: 32px;
    box-shadow: 1px 2px 6px rgba(106, 137, 152, 0.3)
  }
  
  .twitter {
    // Gunakan variable $twitter untuk menetapkan warna latar
    background-color: $twitter;
  }
  
  .facebook {
    // Gunakan variable $facebook untuk menetapkan warna latar
    background-color: $facebook;
  }
  
  .fa {
    line-height: 64px;
  }
}

//_variables
// Tetapkan nilai #1dcaff ke variable $twitter 
$twitter: #1dcaff;

// Tetapkan nilai #405f9e ke variable $facebook 
$facebook: #405f9e;
